{% extends "testapp/ecommerce_detail.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title></title>
  </head>
  {% block body_block %}
  <body>
    <div class="container" align='center'>
      <div class="jumbotron">
        <div class="row">
          <div class="col">
             <h2 align='center'>Billing Address</h2><br>
 <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="name" class="form-control" id="inputEmail4" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="name" class="form-control" id="inputPassword4" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Tamil Nadu</option>
        <option>Andhra Pradesh</option>
        <option>Kerala</option>
        <option>Karnataka</option>
        <option>Delhi</option>
        <option>Pune</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputPin">Pincode</label>
      <input type="text" class="form-control" id="inputPin">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" >
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Proceed to Pay</button>
          </div>

        </div>

      </div>

    </div>
    <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_3WcdY7UpiOvxim" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
    data-amount="5000000" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
    data-currency="INR"//You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
    data-order_id="{{payment.id}}"//Replace with the order_id generated by you in the backend.
    data-buttontext=""
    data-name="Pay"
    data-description="Shopping on E-Shop"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="Sharmila"
    data-prefill.email="sharmilathangam10@gmail.com"
    data-theme.color="#F37254"
    >
    alert("Thank for purchasing Visit again...!")
    </script>
  </form>
</body>
{% endblock %}
</html>
